body {
  display: grid;
  place-content: center;
  background: rgb(169, 161, 163);
}
.waterfall {
  width: 90vw;
  margin: 10em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 1em;
  grid-auto-flow: row dense;
  grid-auto-rows: 10vh;
}
.waterfall .item:nth-of-type(3n+1) {
  grid-row: auto / span 3;
}
.waterfall .item:nth-of-type(3n+2) {
  grid-row: auto / span 4;
}
.waterfall .item:nth-of-type(3n+3) {
  grid-row: auto / span 5;
}
.waterfall .item {
  overflow: hidden;
  transform: rotate(-7.5deg);
  filter: saturate(0) contrast(10) brightness(0.2);
  transition: transform 0.2s, border 0.1s;
  box-sizing: border-box;
  border: 1em solid transparent;
  mix-blend-mode: hard-light;
}
.waterfall .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: rotate(15deg);
  transition: all 0.3s;
  mix-blend-mode: multiply;
}
.waterfall .item.inbound {
  transform: rotate(0);
  filter: none;
  border-bottom: 2px dashed black;
}
.waterfall .item.inbound img {
  transform: rotate(0);
}